.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scene {
  perspective: 900px;
  user-select: none;
}

.cube {
  width: 200px;
  height: 200px;

  transform-style: preserve-3d;
  animation: spin 8s linear infinite;
}

.cube.paused {
  animation-play-state: paused;
}

.cube.running {
  animation-play-state: running;
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube-front,
.cube-right,
.cube-left,
.cube-top,
.cube-bottom,
.cube-back {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube-front {
  transform: rotateY(0deg) translateZ(100px);
}

.cube-right {
  transform: rotateY(90deg) translateZ(100px);
}

.cube-left {
  transform: rotateY(270deg) translateZ(100px);
}

.cube-back {
  transform: rotateY(180deg) translateZ(100px);
}

.cube-top {
  transform: rotateX(90deg) translateZ(100px);
}

.cube-bottom {
  transform: rotateX(270deg) translateZ(100px);
}

.buttons {
  width: 18px;
  height: 18px;
}