.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.black_hole {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 20px #ffffff;
  background-color: black;
  z-index: 10;
  filter: blur(2px);
}
.planet {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  opacity: 0.8;
}

@keyframes pull-to-center {
  to {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
  }
}
